@model List<Project.Models.product>
@{
    ViewBag.Title = "getTinTuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderAction("Banner", "Home");}

<div class="column_center">
    <div class="container">
        <div class="search">
            <div class="stay">Search Product</div>
            <div class="stay_right">
                <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                <input type="submit" value="">
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="main">
    <div class="content_top">
        <div class="container">
            <div class="col-md-3 sidebar_box">
                <div class="sidebar">
                    <div class="menu_box">
                        <h3 class="menu_head">Products Menu</h3>
                        @{ Html.RenderAction("Menu", "Home"); }
                    </div>
                </div>
                <div class="delivery">
                    <img src="~/images/delivery.jpg" class="img-responsive" alt="" />
                    <h3>Delivering</h3>
                    <h4>World Wide</h4>
                </div>
                <div class="twitter">
                    <h3>Latest From Twitter</h3>
                    <ul class="twt1">
                        <i class="twt"> </i>
                        <li class="twt1_desc"><span class="m_1">Contrary</span> to popular belief, Lorem Ipsum is<span class="m_1"> not simply</span></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <ul class="twt1">
                        <i class="twt"> </i>
                        <li class="twt1_desc"><span class="m_1">There are many</span> variations of passages of Lorem Ipsum available, but the majority <span class="m_1">have suffered</span></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <ul class="twt1">
                        <i class="twt"> </i>
                        <li class="twt1_desc"><span class="m_1">Lorem Ipsum</span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has <span class="m_1">been the industry's standard dummy text ever</span></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clients">
                    <h3>Our Happy Clients</h3>
                    <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</h4>
                    <ul class="user">
                        <i class="user_icon"></i>
                        <li class="user_desc"><a href="#"><p>John Doe, Company Info</p></a></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 content_right">
                <h4 class="head"><span class="m_2">Popular</span> Products Now</h4>


                @foreach (var item in Model)
                {
                    var UrlProduct = "/san-pham/" + item.meta;
                    <div class="top_grid2">
                        <div class="col-md-4 top_grid1-box1 product1">
                            <!--<a href="ProductDetail?productID=item.id">-->
                            <a href="@UrlProduct">
                                <div class="grid_1">
                                    <div class="b-link-stroke b-animate-go thickbox">
                                        <img src="~/Content/upload/img/product/@item.img" class="img-responsive" alt="Nghệ Thuật" style="width:260px;height:210px;" />
                                    </div>
                                    <div class="grid_2">
                                        <p>@item.name</p>
                                        <ul class="grid_2-bottom">
                                            <li class="grid_2-left"><p>@item.price<small> VND</small></p></li>
                                            <li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline" target="_self" title="BUY">@Html.ActionLink("BUY", "ProductDetail", "Home", new { productID = @item.id }, null)</div></li>
                                            <div class="clearfix"></div>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
