@using Project.Help
@model IEnumerable<Project.Models.Banner>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/quantri/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    th, td {
        text-align: center;
    }

        td p {
            height: 50px;
            overflow-y: hidden;
            text-overflow: ellipsis;
        }
</style>
@{var rowNo = 0;}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" style="border:1px solid deeppink;">
            <div class="panel-heading" style="background-color:deeppink;">
                Danh sách Banner
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <a href="/quantri/Banners/Create" style="color:white;font-size:17px">
                    <p style="background-color:deeppink; float:right; background-color:deeppink;height:30px;width:130px;text-align:center;padding-top:3px;">
                        Create New
                    </p>
                </a>
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.img)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.hide)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.meta)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @Html.Raw(rowNo++)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td style="width:100px;">
                                    <img src="~/Content/upload/img/product/@item.img" style="width:100% ; height:auto" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>
                                <td>
                                    @(item.hide.GetValueOrDefault(false) ? "Hiển thị" : "Ẩn")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.meta)
                                </td>
                                <td>
                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Edit", "Edit", "Banners", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = "btn btn-default" })
                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-zoom-in'></span>", "Detail", "Details", "Banners", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary" })
                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "Delete", "Delete", "Banners", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
